#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DFMT_PEDANTIC=on -DFMT_TEST=off -DCMAKE_POSITION_INDEPENDENT_CODE=on

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -- doc

override_dh_install:
	dh_install
	dh_sphinxdoc

